@media (max-width: 1230px) {
  .container {
    padding: 0 10px;
  }
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease;
}

@media (max-width:650px) {
  .header_inner>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fixed {
    padding-bottom: 80px;
  }

  .header_inner li:nth-child(1) {
    margin-left: 0;
  }
}

@media(max-width:450px) {
  .fixed, .header_inner nav {
    display: none;
  }
}

.fixed {
  position: fixed;
  background-color: #343434;
  width: 100%;
  height: 55px;
  opacity: 0.97;
  transition: all 0.5s ease;
}

.fixed:hover {
  opacity: 1;
}

.fixed .container {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed .logo {
  padding: 0 0 5px 0;
}

.fixed nav {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  font-size: 18px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*container*/
.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}

/*div*/
div {
  box-sizing: border-box;
}

/*navigation*/
header nav {
  float: right;
  padding-top: 48px;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-left: 50px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: lato;
  color: #ffffff;
  font-size: 17px;
}

.menu a:hover {
  color: #3ec6ff;
}

.logo {
  padding-top: 30px;
  display: inline-block;
}

.logo h1 {
  font-family: Constantia;
  color: #3ec6ff;
  font-weight: lighter;
  font-style: italic;
  padding-left: 10px;
}

/*intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 800px;
  background: url("../images/header.jpg") center no-repeat;
  background-size: cover;
}

.intro_inner {
  width: 100%;
  max-width: 1170px;
  margin: 0;
  text-align: left;
  color: #ffffff;
}

.title {
  font-family: lato;
  font-size: 69px;
}

@media (max-width: 725px) {
  .title {
    font-size: 48px;
  }
}

.subtitle {
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title:before, .ariori_text:before {
  content: "";
  display: block;
  width: 73px;
  height: 4px;
  background-color: #3ec6ff;
}

.title:before {
  margin-top: 170px;
  margin-bottom: 10px;
}

.ariori_text:before {
  margin-top: 130px;
  margin-bottom: 40px;
}

/*Button*/
.btn {
  width: 172px;
  height: 44px;
  font-family: lato;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  margin-left: 10px;
  text-align: center;
  display: block;
  vertical-align: top;
  margin-top: 130px;
  margin-bottom: 120px;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/*Arrows*/
.arrow {
  float: right;
  display: block;
  vertical-align: bottom;
  margin-top: 0px;
}

.arrow img:hover {
  transition: all 0.2 ease 0;
  transform: scale(1.1);
}

.arrow_left {
  margin-right: 35px;
}

/*Who we are*/
.whoweare_inner, .services_inner {
  height: 243px;
  margin-top: 85px;
}

.hdr_1 {
  text-transform: uppercase;
  font-family: lato;
  font-size: 36px;
  color: #343434;
  text-align: center;
}

.ariori_inner h1, h2 {
  text-align: left;
}

.contact_inner h1 {
  margin-bottom: 50px;
}

.hdr_2 {
  font-size: 18px;
  font-weight: 400;
  font-family: Merriweather;
  color: #979797;
  text-align: center;
  margin-top: 30px;
}

.jeff_text h2 {
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.team_inner h2 {
  margin-bottom: 55px;
}

.s_block h2 {
  margin-top: 34px;
  margin-bottom: 28px;
}

#ariori_hdr2 {
  text-align: left;
}

#clients_hdr1 {
  color: #ffffff;
}

#clients_hdr2 {
  color: #ffffff;
  margin-top: 35px;
}

/*Jeff*/
.jeff {
  width: 100%;
  background: url("../images/img1.jpg") center no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  filter: alpha(opacity=80) black;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.jeff_inner {
  height: 306px;
  position: relative;
}

.portrait, .jeff_text, .points {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jeff_text {
  width: 80%;
  top: 50%;
}

.portrait {
  width: 120px;
  height: 120px;
  background: url("../images/img.png");
}

.portrait:hover {
  background: url("../images/27.png");
  background-size: 120px 120px;
  height: 120px;
  width: 120px;
  transition: background 1s;
}

/*Points*/
.points {
  top: 88%;
}

.point_btn {
  margin: auto 4px;
}

.wow_btn {
  transition-property: all;
  transition: 0.2s;
}

.wow_btn:hover {
  transform: scale(2);
}

/*Services*/
.services {
  margin-bottom: 104px;
}

.service_row {
  width: 100%;
  height: 65px;
}

.services_blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.s_block {
  width: 32%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s_block img {
  align-self: center;
}

.s_block h4 {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  color: #848484;
  text-align: center;
}

@media(max-width: 600px) {
  .services_blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .s_block {
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .service_row {
    height: 0px;
  }

  .services {
    margin-bottom: 0px;
  }
}

/*Ariori*/
.ariori_vid {
  position: relative;
  height: 377px;
  background: url("../images/vid.jpg") center no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  filter: alpha(opacity=80) black;
}

.ariori_vid img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play {
  z-index: 2;
}

.ariori_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 435px;
}

.poster {
  z-index: 0;
  width: 671px;
  height: 377px;

}

.ariori_text {
  flex: 50;
}

@media (max-width:1000px) {
  .ariori_inner {
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ariori_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ariori_text::before {
    margin-top: 30px;
  }

  #ariori_hdr2 {
    margin-bottom: 30px;
  }
}

/*portfolio*/
.portfolio_inner {
  margin-top: 100px;
}

.portfolio_inner h2 {
  margin-bottom: 50px;
}

.portfolio_pics {
  display: grid;
  grid-column-gap: 29px;
  grid-row-gap: 35px;
  grid-template-areas:
    "p1 p1 p2"
    "p3 p4 p2"
    "p5 p6 p6";
}

@media (max-width: 600px) {
  .portfolio_pics {
    grid-template-areas:
      'p1'
      'p2'
      'p3'
      'p4'
      'p5'
      'p6';
  }
}

.portfolio_pics>div>.image_content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio_pics div:nth-child(1) {
  grid-area: p1;
}

.portfolio_pics div:nth-child(2) {
  grid-area: p2;
}

.portfolio_pics div:nth-child(3) {
  grid-area: p3;
}

.portfolio_pics div:nth-child(4) {
  grid-area: p4;
}

.portfolio_pics div:nth-child(5) {
  grid-area: p5;
}

.portfolio_pics div:nth-child(6) {
  grid-area: p6;
}

.portfolio_pics {
  margin-bottom: 100px;
}

/*Clients*/
.clients {
  width: 100%;
  background: url("../images/clients.jpg") center no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  filter: alpha(opacity=80) black;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.clients_inner {
  height: 430px;
  margin-top: 100px;
}

.climg {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climg img {
  max-width: 100%;
}

/*Meet our team*/
.team {
  height: 640px;
  min-width: 400px;
}

.team_inner {
  margin-top: 100px;
}

.team_ph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ph:hover {
  transition: all 0.2s ease 0s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ph>h2 {
  margin: 20px auto;
}

@media (max-width: 1100px) {
  .team {
    height: 850px;
  }
}

@media(max-width:580px) {
  .team {
    height: 1600px;
  }

  .team_ph {
    flex-direction: column;
  }
}

/*Map*/
#map {
  height: 515px;
  width: 100%;
}

#mem {
  font-family: lato;
  font-size: 18px;
  font-weight: 400;
  color: #8f8f8f;
  text-align: center;
}

/*Contact Us*/
.contact_inner {
  margin-top: 72px;
  margin-bottom: 75px;
}

.contact_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

form {
  height: 350px;
  width: 50%;
  display: grid;
  grid-column-gap: 27px;
  grid-row-gap: 20px;
  grid-template-rows: 1fr 1fr 2.2fr 2fr;
  grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 c5"
    "c6 c6";
}

form>* {
  width: 100%;
}

form>textarea {
  padding: 15px;
  resize: none;
}

form:nth-child(1) {
  grid-area: c1;
}

form:nth-child(2) {
  grid-area: c2;
}

form:nth-child(3) {
  grid-area: c3;
}

form:nth-child(4) {
  grid-area: c4;
}

form>:nth-child(5) {
  grid-area: c5;
}

form>:nth-child(6) {
  margin-top: 30px;
  grid-area: c6;
}

form>input, form>textarea {
  width: 100%;
  height: 100%;
  font-family: lato;
  font-size: 18px;
  color: #868686;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 3px;
}

#form_submit {
  width: 40%;
  height: 46px;
  font-family: lato;
  font-size: 18px;
  color: #ffffff;
  background-color: #3ec6ff;
  border-radius: 18px;
  justify-self: center;
  padding: 0;
}

#form_submit:hover {
  transition: all 0.2s ease 0s;
  transform: scale(1.05, 1.05);
}

@media(max-width: 700px) {
  form {
    grid-template-areas:
      'c1'
      'c2'
      'c3'
      'c4'
      'c5'
      'c6';
    grid-template-rows: repeat(4, 1fr) 2fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 0;
  }

  form>textarea {
    padding-left: 20px;
    padding-top: 0;
  }

  form>:nth-child(6) {
    padding: 0;
    margin: 0;
  }

  #form_submit {
    width: 100%;
  }

  .contact_inner>.hdr_1 {
    margin-bottom: 20px;
  }
}

/*Footer*/
footer {
  background-color: #343434;
}

.footer_inner {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer nav {
  display: flex;
  justify-content: space-around;
}

#f_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#f_menu li {
  float: left;
  display: block;
  margin-right: 35px;
}

#f_menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: lato;
  color: #ffffff;
  font-size: 17px;
}

#f_menu a:hover {
  color: #3ec6ff;
}

#f_social {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#f_social li {
  display: block;
  float: left;
  margin-left: 40px;
}

@media (max-width:600px) {
  .footer_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #f_social>li:first-child {
    margin-left: 0;
  }

  #f_menu>li:last-child {
    margin-right: 0;
  }
}
